.signup {

  &__card-container {
    padding: 30px 0;

    @media screen and (min-width: $medium-breakpoint) {
      padding: 40px 30px;
    }
  }

  @include cardStyles;

  .snack-bar &__error-alert {
    max-width: 650px;
  }
}

